.hero {
    background-image: url("/PrestigeWorldwide/images/herobg.jpg");
    height: 800px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.hero-content h2 {
    color: #ebebeb;
    font-size: 48px;
    font-weight: 500;
    max-width: 500px;
    margin-bottom: 32px;
}

