.product-card {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #02121c;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(2, 18, 28, 0.35);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
    border-top: 1px solid #02121c;
}

.product-info h2 {
    font-size: 1.125rem;
    font-weight: 600;
}

.product-info p {
    font-size: 1rem;
    font-weight: 600;
}

.product-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 32px auto;
    justify-items: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 32px 0;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}